@import '../../index.scss';

.pagination-button-container {
  margin-top: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

  button {
    padding: 7px;
    font-size: 20px;
    border: $border;
    border-radius: 3px;
    background-color: $dark-color;
    color: #fff;
  }

  button:active {
    background-color: $light-color;
  }

  button:disabled {
    cursor: default;
    color: $disabled-color;
    background-color: $disabled-background-color;
  }

  div {
    text-align: center;
  }

  p {
    color: $main-text-color;
    font-size: 16px;
  }
}
