@import '../../index.scss';

.search-box {
  * {
    font-size: 16px;
  }

  label {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
  }

  input {
    padding: 3px;
    border: $border;
  }
}

@media (max-width: 600px) {
  .search-box {
    input {
      width: 150px;
    }
  }
}

@media (max-width: 400px) {
  .search-box {
    * {
      font-size: 12px;
    }
    input {
      width: 100px;
    }
  }
}
