@import '../../index.scss';

.story-list-item {
  margin: 5px 0;
  padding: 5px;

  box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.64);
  -webkit-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.64);
  -moz-box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.64);

  background-color: $light-color;

  .external-link {
    font-size: 22px;
    text-decoration: none;
    color: #fff;
  }

  .footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    align-items: center;

    p {
      span {
        font-style: italic;
      }
    }

    .comments * {
      font-size: 14px;
      color: #fff;
    }
  }
}
