@import '../../index.scss';

.sort-select {
  display: flex;
  align-items: center;

  label {
    font-size: 16px;
    margin-right: 10px;
    color: #fff;
  }

  select {
    background-color: $dark-color;
    border: $border;
    border-radius: 2px;
    color: #fff;
    text-align: center;
    width: 150px;
    font-size: 16px;
    height: 100%;

    option {
      text-align: center;
    }
  }
}

@media (max-width: 600px) {
  .sort-select {
    select {
      width: 120px;
    }
  }
}

@media (max-width: 400px) {
  .sort-select {
    label {
      font-size: 12px;
    }
    select {
      width: 120px;
      font-size: 12px;
    }
  }
}
