@import '../../index.scss';

.story-list {
  max-width: 1000px;
  margin: 15px auto;
  padding: 10px;
  border-radius: 2px;
  background-color: $med-color;
  display: flex;
  flex-direction: column;
  border: $border;

  .story-list-header {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
  }

  .story-list-story-container {
    margin-bottom: 10px;
  }

  .no-stories-container {
    text-align: center;
    margin: 30px 0;
    color: $main-text-color;
  }
}
